@model IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>
@using NoteMarketPlace.Models;
<!-- Members All Notes Information -->
<section id="member-all-notes">

    <div class="container">

        <!-- Heading -->
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="search-heading">
                    <h5><b>Notes</b></h5>
                </div>

            </div>

        </div>
        @{
            NoteMarketPlaceDatabaseEntities db = new NoteMarketPlaceDatabaseEntities();
            int i = 0;
        }

        <!-- Table -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 table-responsive-xl">
                <table class="table">
                    <thead>
                        <tr class="text-uppercase">
                            <th scope="col">Sr. No</th>
                            <th scope="col">
                                @Html.ActionLink("Note Title", "MemberDetails", new { uid = ViewBag.userIdentify, SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Note Title", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Category", "MemberDetails", new { uid = ViewBag.userIdentify, SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Category", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                            </th>
                            <th scope="col">Status</th>
                            <th scope="col">Downloaded Notes</th>
                            <th scope="col">Total Earning</th>
                            <th scope="col">Added Date</th>
                            <th scope="col">Published Date/Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NoteMarketPlace.Models.NoteDetailsViewModel item in (IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>)Model)
                        {
                            int numberOfDownloads = 0;
                            numberOfDownloads = db.DownloadedNotes.Where(m => m.NoteID == item.note.NoteID && m.IsAttachmentDownloaded == true).Count();

                            var totalEarning = db.DownloadedNotes.Where(m => m.NoteID == item.note.NoteID && m.IsPaid == true).Sum(m => m.PurchasedPrice);

                            

                            <tr>
                                <td class="text-center">@(i = i + 1)</td>
                                <td><a href="/User/NoteDetails?noteName=@item.note.NoteTitle">@item.note.NoteTitle</a></td>
                                <td>@item.noteCategory.CategoryName</td>
                                <td>@item.referenceData.Value</td>
                                <td>@numberOfDownloads</td>
                                <td>$@totalEarning</td>
                                <td>@item.note.ApprovedDate</td>
                                <td>@item.note.PublishedDate</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="nav-link" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><img src="~/Content/AdminCSS/images/Admin_images/images/dots.png" alt="dot"></span></a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Downloaded Notes</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>

    </div>

</section>

<!--Pagination-->
<section id="pagination-style">
    <nav aria-label="Page navigation example">
        @{
            Double totalPage = ViewBag.PageTotal;

            <ul class="pagination justify-content-center">

                @if (ViewBag.PageNumber == 1)
                {
                    <li class="page-item disabled">
                        @Html.ActionLink("<", "MemberDetails", new { uid = ViewBag.userIdentify, SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })
                    </li>

                }
                else
                {
                    <li class="page-item">
                        @Html.ActionLink("<", "MemberDetails", new { uid = ViewBag.userIdentify, SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 }, new { @class = "page-link" })
                    </li>
                }



                @for (int j = 1; j <= totalPage; j++)
                {

                    if (j == ViewBag.PageNumber)
                    {

                        <li class="page-item active">
                            @Html.ActionLink(j.ToString(), "MemberDetails", new { uid = ViewBag.userIdentify, SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink(j.ToString(), "MemberDetails", new { uid = ViewBag.userIdentify, SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                        </li>
                    }

                }

                @if (ViewBag.PageNumber == totalPage)
                {
                    <li class="page-item">
                        @Html.ActionLink(">", "MemberDetails", new { uid = ViewBag.userIdentify, SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })

                    </li>
                }
                else
                {
                    <li class="page-item">
                        @Html.ActionLink(">", "MemberDetails", new { uid = ViewBag.userIdentify, SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 }, new { @class = "page-link" })

                    </li>
                }


            </ul>
        }
    </nav>
</section>
