@model NoteMarketPlace.Models.Note
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var n = Request.Url.Segments.Last();
    var n = Request.QueryString["nId"];

}


<!-- Add notes image section -->
<section id="search-page-image">

    <!-- Add notes image -->
    <div id="search-title-image">

        <div class="search-title">
            <h2>Add Notes</h2>
        </div>

    </div>

</section>

<!-- Content -->
<section id="profile">

    <!-- Profile Details -->
    <div id="profile-details">

        <div class="container user-add-notes">

            <!--<form method="post">-->
            @using (Html.BeginForm("AddNotes", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div id="form-profile">
                    <!-- Basic Details -->
                    <div id="basic-profile-details">

                        <div class="row">

                            <div class="col-md-12">

                                <!-- Title -->
                                <div id="basic-ditails-title">

                                    <h4><b>Basic Note Details</b></h4>

                                </div>

                            </div>

                        </div>

                        <!-- Form Content -->
                        <div class="row">

                            <input type="hidden" name="nId" value="@n" />

                            <!-- Title -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <!--<label class="mylabel" for="firstname">Title *</label>-->
                                    <!--<input type="text" class="form-control" id="firstname" placeholder="Enter your title" required>-->
                                    @Html.Label("firstname", "Title *", new { @class = "mylabel" })
                                    @Html.TextBoxFor(m => m.NoteTitle, new { @class = "form-control", @id = "firstname", @placeholder = "Enter your title" })
                                    @Html.ValidationMessageFor(m => m.NoteTitle)
                                </div>
                            </div>

                            <!-- Catagory -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="mylabel" for="lastname">Category *</label>
                                    <div class="wrapper">

                                        @Html.DropDownListFor(m => m.Category, ViewBag.CategoryList as SelectList, "Select Your Category", new { @class = "form-control", @id = "inputgender" })

                                        <img src="~/Content/images/User-Profile/down-arrow.png" alt="dropdown">
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Category)

                                </div>
                            </div>

                            <!-- Profile Picture -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 profile-picture">
                                <div class="form-group">
                                    <label class="mylabel" for="photo">Profile Picture</label>
                                    <div class="file-wrapper">

                                        <img src="~/Content/images/User-Profile/upload.png" alt="upload">
                                        <input type="file" class="form-control" id="profilephoto" placeholder="Upload a picture" name="BookImage" accept="image/*">
                                        <!--<label class="mylabel" for="photo">Upload a picture</label>-->

                                    </div>
                                </div>
                            </div>

                            <!-- Note PDF -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 profile-picture">
                                <div class="form-group">
                                    <label class="mylabel" for="photo">Upload Notes*</label>
                                    <div class="file-wrapper">

                                        <img src="~/Content/images/User-Profile/upload-note.png" alt="upload">
                                        <input type="file" class="form-control" id="profilephoto" placeholder="Upload a picture" name="NotePdf" accept="application/pdf">
                                        <!--<label class="mylabel" for="photo">Upload a picture</label>-->

                                    </div>
                                    <p class="field-validation-error">@ViewBag.pdferr</p>
                                </div>
                            </div>

                            <!-- Type -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="mylabel" for="gender">Type</label>
                                    <div class="wrapper">

                                        <!-- <select id="inputgender" class="form-control">
                                            <option selected>Enter your type</option>
                                            <option>Type 1</option>
                                            <option>Type 2</option>
                                            <option>Type 3</option>
                                        </select> -->
                                        @Html.DropDownListFor(m => m.NoteType, ViewBag.TypeList as SelectList, "Select Your Type", new { @class = "form-control", @id = "inputgender" })

                                        <img src="~/Content/images/User-Profile/down-arrow.png" alt="dropdown">
                                    </div>
                                    @Html.ValidationMessageFor(m => m.NoteType)
                                </div>
                            </div>

                            <!-- Number of pages -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="mylabel" for="firstname">Number of Pages</label>
                                    <!--<input type="text" class="form-control" id="firstname" placeholder="Enter number of note pages" required>-->
                                    @Html.TextBoxFor(m => m.Pages, new { @class = "form-control", @id = "firstname", @placeholder = "Enter number of note pages" })
                                    @Html.ValidationMessageFor(m => m.Pages)
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="mylabel" for="firstname">Description</label>
                                    <!--<textarea type="text" rows="4" class="form-control" id="firstname" placeholder="Enter descripation" required></textarea>-->
                                    @Html.TextAreaFor(m => m.NoteDescription, new { @rows = "4", @class = "form-control", @id = "firstname", @laceholder = "Enter descripation" })
                                    @Html.ValidationMessageFor(m => m.NoteDescription)
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Address Details -->
                    <div id="address-details">

                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                                <div id="address-title">

                                    <h4><b>Institute Information</b></h4>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <!-- Country -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="mylabel" for="country">Country *</label>
                                    <div class="wrapper">

                                        <!-- <select id="inputzipcountry" class="form-control">
                                           <option selected>Enter your country</option>
                                           <option>India</option>
                                           <option>USA</option>
                                           <option>Canada</option>
                                        </select>-->

                                        @Html.DropDownListFor(m => m.Country, ViewBag.CountyList as SelectList, "Enter Your Country", new { @class = "form-control", @id = "inputzipcountry" })

                                        <img src="~/Content/images/User-Profile/down-arrow.png" alt="dropdown">
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Country)
                                </div>
                            </div>

                            <!-- Institute information -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="mylabel" for="addressLine2">Institute Name *</label>
                                    <!--<input type="text" class="form-control" id="addressline2" placeholder="Enter your institute name" required>-->
                                    @Html.TextBoxFor(m => m.Institute, new { @class = "form-control", @id = "addressline2", @placeholder = "Enter your institute name" })
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- University Details -->
                    <div id="course-details">

                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                                <div id="university-title">

                                    <h4><b>Course Details</b></h4>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <!-- Course name -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="mylabel" for="university">Course Name</label>
                                    <!--<input type="text" class="form-control" id="university" placeholder="Enter your course name">-->
                                    @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control", @id = "university", @placeholder = "Enter your course name" })
                                </div>
                            </div>

                            <!-- Course Code -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="mylabel" for="college">Course Code</label>
                                    <!--<input type="text" class="form-control" id="college" placeholder="Enter your course code">-->
                                    @Html.TextBoxFor(m => m.CourseCode, new { @class = "form-control", @id = "college", @placeholder = "Enter your course code" })
                                </div>
                            </div>

                            <!-- Professor/Lecture -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="mylabel" for="college">Professor/Lecture</label>
                                    <!--<input type="text" class="form-control" id="college" placeholder="Enter your professor name">-->
                                    @Html.TextBoxFor(m => m.Professor, new { @class = "form-control", @id = "college", @placeholder = "Enter your professor name" })
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Sell information -->
                    <div id="seller-details">

                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                                <div id="university-title">

                                    <h4><b>Selling Information</b></h4>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <!-- Sell For -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label class="mylabel" for="college">Sell For *</label><br>
                                            <div class="form-check form-check-inline">
                                                <!--<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>-->
                                                @Html.RadioButtonFor(m => m.SellFor, 5, new { @class = "form-check-input", @name = "inlineRadioOptions", @id = "inlineRadio1", @checked = "check" })
                                                <span class="check"></span>
                                                <label class="form-check-label" for="inlineRadio1">Free</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <!--<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">-->
                                                @Html.RadioButtonFor(m => m.SellFor, 4, new { @class = "form-check-input", @name = "inlineRadioOptions", @id = "inlineRadio2" })
                                                <span class="check"></span>
                                                <label class="form-check-label" for="inlineRadio2">Paid</label>
                                            </div>

                                        </div>
                                        @Html.ValidationMessageFor(m => m.SellFor)

                                    </div>

                                    <!-- Number of page -->
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label class="mylabel" for="firstname">Sell Price *</label>
                                            <!--<input type="text" class="form-control" id="firstname" placeholder="Enter number of note pages" required>-->
                                            @Html.TextBoxFor(m => m.SellPrice, new { @class = "form-control", @id = "firstname", @placeholder = "Enter number of note pages", @Value = "0" })
                                            @Html.ValidationMessageFor(m => m.SellPrice)
                                        </div>

                                    </div>

                                </div>


                            </div>

                            <!-- Note Preview -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 profile-picture">
                                <div class="form-group">
                                    <label class="mylabel" for="photo">Note Preview *</label>
                                    <div class="file-wrapper">

                                        <img src="~/Content/images/User-Profile/upload.png" alt="upload">
                                        <input type="file" class="form-control" id="profilephoto" placeholder="Upload a picture" name="PreviewOfNote" accept="application/pdf">
                                        <!--<label class="mylabel" for="photo">Upload a picture</label>-->

                                    </div>
                                    <p class="field-validation-error">@ViewBag.previewerr</p>
                                </div>
                            </div>


                        </div>

                    </div>

                    <!-- Profile Button -->
                    <button type="submit" class="btn btn-primary save-btn text-uppercase text-center" name="save" value="save"><b>Save</b></button>

                    <!-- Profile Button -->
                    <button type="submit" class="btn btn-primary publish-btn text-uppercase text-center" name="published" value="published"><b>Publish</b></button>
                </div>
                <!--</form>-->
            }
        </div>

    </div>


</section>




<script src="~/bundles/jqueryval"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>