@model IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>
@{

    if(@Session["UserEmailId"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = null;
    }

    int i = 0;
}
<!-- Dashboard progress -->
<section id="dashboard-middle">

    <div class="container d-top">

        <!-- Heading -->
        <div class="row">

            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="dashboar-heading">
                    <h3>Buys Request</h3>
                </div>
            </div>

            <!-- button <form class="form-inline ml-auto pull-right">-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                @using (Html.BeginForm("BuyersRequest", "User", FormMethod.Post, new { @class = "form-inline ml-auto pull-right" }))
                {


                    <div class="md-form my-0 search-wrapper">
                        <img src="~/Content/images/Dashboard/search.jpg" alt="search">
                        <input class="form-control" type="search" id="searchbar" placeholder="Search..." aria-label="Search" value="@ViewData["GetBuyersDetails"]" name="searching">
                    </div>

                    <!-- Profile Button -->
                    <button href="#" type="submit" class="btn btn-primary search-btn text-uppercase text-center"><b>Search</b></button>

                }
            </div>

        </div>

        @{ 
            if(ViewBag.TotalRecord == 0)
            {
                <div class="NoRecordMsg">
                    <h4><b>No Record Found</b></h4>
                </div>
            }
           
        }

        <!-- Table -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 table-responsive-xl">
                <table class="table">
                    <thead>
                        <tr class="text-uppercase">
                            <th scope="col">Sr. No</th>
                            <th scope="col">
                                @Html.ActionLink("Note Title", "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Note Title", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Category", "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Category", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Buyer", "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Buyer", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                            </th>
                            <th>Phone No.</th>
                            <th scope="col">
                                @Html.ActionLink("Sell Type", "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Sell Type", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Price", "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Price", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                            </th>
                            <th scope="col">Download Date/Time</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @* @foreach (NoteMarketPlace.Models.NoteCountryContex item in (IEnumerable<NoteMarketPlace.Models.NoteCountryContex>)ViewData.Model)*@
                        @foreach (NoteMarketPlace.Models.NoteDetailsViewModel item in (IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>)Model)
                        {
                            <tr>
                                <td class="text-center">@(i = i + 1)</td>
                                <td><a href="/User/NoteDetails?noteName=@item.note.NoteTitle">@item.note.NoteTitle</a></td>
                                <td>@item.noteCategory.CategoryName</td>
                                <td>@item.user.EmailID</td>
                                <td>+91 9874563527 </td>
                                <td>@item.referenceData.Value</td>

                                <td>$@item.note.SellPrice</td>
                                <td>27 Nov 2020, 11:24</td>
                                <td><a href="/User/NoteDetails?noteName=@item.note.NoteTitle"><img src="~/Content/images/Dashboard/eye.png" alt="see"></a></td>
                                <td>

                                    <div class="dropdown">
                                        <a class="nav-link" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><img src="~/Content/images/Front_images/images/dots.png" alt="dot"></span></a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            @using (Html.BeginForm("BuyersRequest", "User", FormMethod.Post, new { }))
                                            {
                                                <a class="dropdown-item" href="/User/BuyersRequest?bookId=@item.download.NoteID&buyerId=@item.download.BuyersID">Allow Download</a>
                                            }
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
<!-- test
    <a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    -->
<section id="pagination-style">
    <nav aria-label="Page navigation example">
        @{
            Double totalPage = ViewBag.PageTotal;

            <ul class="pagination justify-content-center">

                @if (ViewBag.PageNumber == 1)
                {
                    <li class="page-item disabled">
                        @Html.ActionLink("<", "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })
                    </li>

                }
                else
                {
                    <li class="page-item">
                        @Html.ActionLink("<", "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 }, new { @class = "page-link" })
                    </li>
                }



                @for (int j = 1; j <= totalPage; j++)
                {

                    if (j == ViewBag.PageNumber)
                    {

                        <li class="page-item active">
                            @Html.ActionLink(j.ToString(), "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink(j.ToString(), "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                        </li>
                    }

                }

                @if (ViewBag.PageNumber == totalPage)
                {
                    <li class="page-item">
                        @Html.ActionLink(">", "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })
                        
                    </li>
                }
                else
                {
                    <li class="page-item">
                        @Html.ActionLink(">", "BuyersRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Note Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 }, new { @class = "page-link" })

                    </li>
                }


            </ul>
        }
    </nav>
</section>


