@model IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}
@using NoteMarketPlace.Models;




<!-- Dashboard progress -->
<section id="dashboard-middle" class="manage-category">

    <div class="container d-top">

        <!-- Heading -->
        <div class="row">

            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="dashboar-heading">
                    <h3>Manage Category</h3>
                </div>
            </div>

        </div>

        <!-- Buttons -->
        <div class="row">

            <!-- button -->
            <div class="col-md-6 col-sm-6 col-12 text-left">
                <a href="">
                    <!-- Profile Button -->
                    <button type="button" class="btn btn-primary add-note-btn text-uppercase text-center"><b><a href="/Admin/AddCategory">Add Catagory</a></b></button>
                </a>
            </div>


            <!-- button -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <form class="form-inline ml-auto pull-right" method="post">
                    <div class="md-form my-0 search-wrapper">
                        <img src="~/Content/AdminCSS/images/Dashboard/search.jpg" alt="search">
                        <input class="form-control" type="text" id="searchbar" placeholder="Search..." aria-label="Search" name="searching" value="@ViewData["GetReviewNotes"]">
                    </div>

                    <!-- Profile Button -->
                    <button href="#" type="submit" class="btn btn-primary search-btn text-uppercase text-center"><b>Search</b></button>

                </form>
            </div>

        </div>

        <!-- Table -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 table-responsive-xl">
                <table class="table">
                    <thead>
                        <tr class="text-uppercase">
                            <th scope="col">Sr. No</th>
                            <th scope="col">
                                @Html.ActionLink("Category", "ManageCategory", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Category", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                            </th>
                            <th scope="col">Description</th>
                            <th scope="col">
                                @Html.ActionLink("Date Added", "ManageCategory", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Date Added", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Added By", "ManageCategory", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Added By", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })
                            </th>
                            <th scope="col">Active</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NoteMarketPlace.Models.NoteDetailsViewModel item in (IEnumerable<NoteMarketPlace.Models.NoteDetailsViewModel>)Model)
                        {
                            <tr>
                                <td class="text-center">@(i = i + 1)</td>
                                <td>@item.noteCategory.CategoryName</td>
                                <td>@item.noteCategory.CategoryDescription</td>
                                <td>@item.noteCategory.CreatedDate</td>
                                <td>@item.user.FirstName @item.user.LastName</td>
                                @{
                                    if (item.noteCategory.IsActive == true)
                                    {
                                        <td>Yes</td>
                                    }
                                    else
                                    {
                                        <td>No</td>
                                    }
                                }

                                <td><a href="/Admin/AddCategory?categoryid=@item.noteCategory.ID"><img src="~/Content/AdminCSS/images/Admin_images/images/edit.png" alt="edit"></a><a href="/Admin/ManageCategory?cID=@item.noteCategory.ID" onclick="confirm('Are you sure you want to make this category inactive?')"><img src="~/Content/AdminCSS/images/Admin_images/images/delete.png" alt="delete"></a></td>
                            </tr>
                        }

                    </tbody>

                </table>
                @{
                    if (Model.Count() == 0)
                    {
                        <h4 style="color:#6255a5"><b>No Record Found</b></h4>
                    }
                }
            </div>
        </div>

    </div>

</section>

<!--Pagination-->
<section id="pagination-style">
    <nav aria-label="Page navigation example">
        @{
            Double totalPage = ViewBag.PageTotal;

            <ul class="pagination justify-content-center">

                @if (ViewBag.PageNumber == 1)
                {
                    <li class="page-item disabled">
                        @Html.ActionLink("<", "ManageCategory", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Date Added" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })
                    </li>

                }
                else
                {
                    <li class="page-item">
                        @Html.ActionLink("<", "ManageCategory", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Date Added" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 }, new { @class = "page-link" })
                    </li>
                }



                @for (int j = 1; j <= totalPage; j++)
                {

                    if (j == ViewBag.PageNumber)
                    {

                        <li class="page-item active">
                            @Html.ActionLink(j.ToString(), "ManageCategory", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Date Added" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink(j.ToString(), "ManageCategory", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Date Added" : ViewBag.SortBy, PageNumber = j }, new { @class = "page-link" })
                        </li>
                    }

                }

                @if (ViewBag.PageNumber == totalPage)
                {
                    <li class="page-item">
                        @Html.ActionLink(">", "ManageCategory", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Date Added" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })

                    </li>
                }
                else
                {
                    <li class="page-item">
                        @Html.ActionLink(">", "ManageCategory", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Date Added" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 }, new { @class = "page-link" })

                    </li>
                }


            </ul>
        }
    </nav>
</section>

